.mediaCategory {
  background: transparent;
  border: none;
  color: var(--color-primary-text);
  cursor: pointer;
  font-weight: bold;
}
.mediaCategory:hover {
  color: var(--color-secondary-text);
}
.activeCategory {
  color: var(--color-secondary-text);
}
