.filterMenu {
  display: flex;
  color: var(--color-ternary-text);
  flex-direction: column;
  font-size: 0.8rem;
  margin-top: 30px;
  width: 70%;
}
.dropdownContainer {
  margin-top: 30px;
}
.dropdown {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 15px;
}
.dropdown > span {
  margin-bottom: 2px;
}
.yearRange {
  display: flex;
  flex-direction: column;
}
.yearRangeContainer {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
.yearRangeDash {
  padding: 0 2px;
}
.title {
  font-weight: bold;
}
