body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary-text: white;
  --color-primary-bg: rgb(21, 25, 29);
  --color-primary-shadow: #040404;
  --color-secondary-text: #19b2fd;
  --color-secondary-bg: rgb(16, 20, 24);
  --color-ternary-text: grey;
  --color-rating: yellow;
}

#root {
  background-image: linear-gradient(
    to top right,
    #020823 10%,
    #1e6784,
    #1dd287
  );
  height: 100vh;
  display: flex;
}
